/* DESKTOP */
@font-face {font-family: "Noto"; src: url(font/NotoSansCJKjp-DemiLight.otf);}
@font-face {font-family: "Noto Black"; src: url(font/NotoSansCJKjp-Black.otf);}
@font-face {font-family: "Source"; src: url(font/SourceSans3-Regular.ttf);}
@font-face {font-family: "Source Black"; src: url(font/SourceSans3-Black.ttf);}
@font-face {font-family: "Source Italic"; src: url(font/SourceSans3-Italic.ttf);}
@font-face {font-family: "Source Black Italic"; src: url(font/SourceSans3-BlackItalic.ttf);}

/* GLOBAL */

* {
	font-family: 'Source', 'Noto', sans-serif;
	font-weight: 400;
}
*:focus {
	outline: none;
}
body {
	margin: 0;
	background: #111;
	color: white;
}
a {
	color: white;
	text-decoration: none;
}
b {
	font-family: 'Source Black', 'Noto Black', 'sans-serif' !important;
}
sub {
	font-size: 10px;
	font-family: inherit !important;
	vertical-align: baseline !important;
}
sup {
	font-size: 10px;
	font-family: inherit !important;
	vertical-align: top !important;
}

/* MENU */

#menu {
	width: 170px;
	position: fixed;
	top: 55px;
	left: 15px;
	padding-bottom: 10px;
	background: #222;
	display: none;
	z-index: 2;
}
#menu.slide {
	display: inline;
}
h3 {
	margin: 15px 0px 2px 15px;
	font-family: 'Source Black', 'Noto Black', sans-serif;
	font-size: 16px;
	color: #999;
}
#menu a {
	width: 155px;
	height: 30px;
	line-height: 30px;
	display: block;
	padding-left: 15px;
	font-size: 16px;
	vertical-align: bottom;
}
#menu a:hover {
	background: #333;
}
#menu a.light:hover {
	background: #ccc;
}
#settingsButton {
	width: 24px;
	position: fixed;
	top: 20px;
	left: 20px;
	transition: .3s ease-in-out;
	cursor: pointer;
}
#settingsButton path {
	fill: white;
}
#settingsButton path.light {
	fill: black;
}
#settingsButton.slide {
	transform: rotate(90deg);
}
#lightTheme, #darkTheme {
	cursor: pointer;
}

/* HOMEPAGE */

h1 {
	line-height: 50px;
	margin-top: 80px;
	text-align: center;
	font-size: 50px;
}
h2 {
	line-height: 28px;
	text-align: center;
	font-size: 28px;
}
#chooseLang {
	width: 973px;
	margin: 50px auto;
}
#chooseLang a {
	width: 200px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 25px;
	text-align: center;
	font-size: 25px;
	color: #999;
	transition: .3s ease-in-out;
	cursor: pointer;
}
#chooseLang a:hover {
	background: #999;
	color: #111;
}
#chooseLang a.light {
	color: #999;
}
#chooseLang a.light:hover {
	background: #ddd;
	color: #999;
}
#langSubmenu {
	width: 800px;
	height: 150px;
	position: relative;
	margin: 80px auto;
	overflow: hidden;
}
.submenu {
	width: 800px;
	height: 150px;
	position: absolute;
	top: -150px;
	text-align: center;
	font-size: 0;
	transition: .3s ease-in-out;
}
.submenu.slide {
	top: 0px;
}
.submenuOption {
	width: 200px;
	height: 150px;
	display: inline-block;
}
.submenuCircle {
	width: 80px;
	height: 80px;
	line-height: 82px;
	display: block;
	position: relative;
	left: 60px;
	border-radius: 40px;
	text-align: center;
	font-size: 50px;
}
.c1 {
	background: #e53935;
}
.c2 {
	background: #f9a825;
}
.c3 {
	background: #2bce72;
}
.c4 {
	background: #448aff;
}
.submenuText {
	text-align: center;
	font-size: 20px;
}

#wokugi {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
	position: fixed;
	bottom: 20px;
	right: 80px;
	border-radius: 20px;
	text-align: center;
	font-size: 22px;
	background: #222;
	z-index: 1; 
}
#wokugi:hover {
	background: #333;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
}
#wokugi.light {
	background: #ddd;
	color: black;
}
#wokugi.light:hover {
	background: #ccc;
}
#newLang {
	width: 40px;
	height: 40px;
	line-height: 58px;
	text-align: center;
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 20px;
	background: #222;
	z-index: 1; 
}
#newLang:hover {
	background: #333;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
}
#newLang.light {
	background: #ddd;
}
#newLang.light:hover {
	background: #ccc;
}
#newGlyph path {
	stroke-width: 0.07;
}
#newGlyph path.light {
	stroke-width: 0.05;
}
svg {
	overflow: visible;
}
path {
	stroke: white;
	fill: none;
	stroke-width: 0.06;
}
path.light {
	stroke: black;
	stroke-width: 0.04;
}
footer {
	width: 100%;
	position: absolute;
	bottom: 30px;
	text-align: center;
	font-size: 20px;
	color: #999;
}

/* HOMEPAGE SHRINK */

@media only screen and (max-height: 700px) {
	footer {
		position: relative;
	}
}

@media only screen and (max-width: 850px) {
	#chooseLang {
		width: 280px;
	}
	#langSubmenu {
		width: 280px;
		height: 600px;
	}
	.submenu {
		width: 280px;
		top: -600px;
	}
	footer {
		position: relative;
	}
}
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
}

/* VOCABULARY */

#total, #guessed {
	position: absolute;
	right: 20px;
	font-size: 20px;
}
#total {
	top: 20px;
}
#guessed {
	top: 55px;
}

#addDiv {
	width: 300px;
	height: 180px;
	position: absolute;
	left: 10px;
	top: 50%;
	padding: 10px;
	background: #222;
}
#addDiv * {
	display: block;
	margin: 10px;
}

#prompt {
	line-height: 120px;
	margin-top: 50px;
	text-align: center;
	font-size: 80px;
}
#typing {
	width: 60%;
	height: 100px;
	position: relative;
	top: 50px;
	margin: 0 auto;
}
#inputArea {
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 50px;
	text-align: center;
	font-size: 80px;
	color: #999;
	background: #222;
}
#correct {
	position: relative;
	top: 70px;
	text-align: center;
	font-size: 80px;
	color: #0c0;
}

#range {
	position: fixed;
	left: .5%;
	bottom: 105px;
	width: 99%;
	height: 30px;
	margin: 0;
	border-radius: 15px;
	background: #474747;
	-webkit-appearance: none;
}
#range::-webkit-slider-thumb {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: red;
	-webkit-appearance: none;
}
#range:focus {
	outline: none;
}
#rangeWord {
	position: fixed;
	left: 20px;
	bottom: 20px;
	font-size: 50px;
	color: white;
}

/* NONVOCAB */

#up {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: -40px;
	right: 20px;
	border-radius: 20px;
	background: rgba(0,0,0,0.5);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	text-align: center;
	line-height: 32px;
	font-size: 40px;
	color: white;
	
}
#up:hover {
	background: black;
}
#up.slide {
	bottom: 20px;
}

#contentDiv {
	max-width: 1500px;
	margin: 100px auto 50px;
	padding: 8px;
}
#contentDiv * {
	font-family: 'Source', 'Noto', sans-serif;
	font-weight: 400;
}
#contentDiv p {
	margin-top: 24px;
	margin-bottom: 24px;
}
#contentDiv p.noSpace {
	margin-bottom: 0px;
}
#contentDiv h1 {
	display: inline-block;
	margin: 15px 0px;
	font-family: 'Source Black', 'Noto Black', sans-serif;
	font-size: 30px;
	/*color: #707070;*/
}
#contentDiv h2 {
	display: inline-block;
	margin: 0px 10px;
	font-family: 'Source Black', 'Noto Black', sans-serif;
	font-size: 20px;
	color: #999;
}
#contentDiv h4 {
	display: inline-block;
	margin: 15px 0px;
	font-family: 'Source Black', 'Noto Black', sans-serif;
	font-size: 20px;
	color: white;
}
#contentDiv h4 b {
	font-family: 'Source Black', 'Noto Black', sans-serif;
	font-size: 30px;
}
#contentDiv h5 {
	display: inline-block;
	margin: 15px 0px;
	font-family: 'Source Black', 'Noto Black', sans-serif;
	font-size: 16px;
	color: white;
}

#contentDiv h5 b {
	font-family: 'Source Black', 'Noto Black', sans-serif;
	font-size: 20px;
}
ul {
	margin-left: 18px;
	padding: 0;
}
table {
	margin: 24px 0px;
	border-collapse: collapse;
	text-align: center;
}
table td, table th {
	min-width: 30px;
	padding: 5px;
	border: 1px #111 solid;
	background: #333;
	white-space: nowrap;
}
table th {
	background: #222;
	font-family: 'Source Black', 'Noto Black', sans-serif;
}
span.blue {
	color: #09f;
}
span.green {
	color: #0c0;
}
span.gray {
	color: #999;
}
span.example {
	display: inline-block;
	margin-left: 20px;
}

.ph {
	font-family: 'Source', sans-serif !important;
	color: #6aa3ff;
}
.b {
	font-family: 'Source Black', sans-serif !important;
}
.ph b {
	font-family: 'Source Black', sans-serif !important;
}
.fr * {
	text-align: left;
	background: none !important;
}
.fr td, .fr th {
	padding: 2px 30px 2px 0px;
}

del {
	text-decoration: none;
	color: red;
}
rt {
	font-size: 10px;
}
.ipa {
	font-family: 'Source', sans-serif !important;
}
.split {
	height: 30px;
	line-height: 15px;
	position: relative;
	background: linear-gradient(to top right,#222 49.5%,#111 49.5%,#111 50.5%,#222 50.5%);
}
.split div {
	width: 60px;
}
.splitCol {
	text-align: right;
}
.splitRow {
	text-align: left;
}

/* NEW */

#contentDivNew {
	max-width: 1500px;
	margin: 100px auto 50px;
	padding: 8px;
}
#contentDivNew * {
	font-family: 'Source', sans-serif;
}
#contentDivNew p {
	margin-top: 24px;
	margin-bottom: 24px;
}
#contentDivNew h4, #contentDivNew h4 * {
	font-family: 'Source Black', sans-serif;
	font-size: 30px;
	margin: 5px 0px;
}
#contentDivNew h5, #contentDivNew h5 * {
	font-family: 'Source Black', sans-serif;
	font-size: 20px;
	margin: 5px 0px;
}
#contentDivNew h6 {
	font-family: 'Source Black', sans-serif;
	font-size: 16px;
	margin: 5px 0px;
}
#contentDivNew * i {
	font-family: 'Source Italic', sans-serif !important;
	font-style: inherit;
}
#contentDivNew * b {
	font-family: 'Source Black', sans-serif !important;
}
#contentDivNew i b {
	font-family: 'Source Black Italic', sans-serif !important;
	font-style: inherit;
}
.newUl {
	margin-top: 0px;
	list-style-type: none;
	margin-left: 2ch;
	margin-bottom: 24px;
}
.newUlNested {
	margin-top: 0px;
	list-style-type: none;
	margin-left: 2ch;
}
#contentDivNew p.noSpace {
	margin-bottom: 0px;
}
.tabNew * {
	text-align: left;
	vertical-align: baseline;
	background: none !important;
}
.tabNewTight * {
	text-align: left;
	vertical-align: baseline;
	background: none !important;
}
.tabNew td, .tabNew th {
	padding: 0px 3ch 0px 0px;
}
.tabNewTight td, .tabNewTight th {
	padding: 0px 1ch 0pc 0ch;
}
span.grayNew {
	color: #999;
}
#TOC {
	margin-left: 0;
}
#TOC a, #TOC a .grayNew {
	font-family: 'Source Black', sans-serif;
}
#TOC .newUlNested a, #TOC .newUlNested a .grayNew {
	font-family: 'Source', sans-serif;
}
.glyphPos {
	font-size: 10px !important;
	font-family: 'Source Black', sans-serif !important;
	color: #999;
	margin-left: 2px;
	margin-right: 6px;
}
.headerRow th {
	padding-bottom: 5px;
}
.orth td {
	text-align: center;
}
